/*----------------------------------------
HOME
----------------------------------------*/
html{
	height:100%;
	body {
		&.cms-home {
			.main-container{
				background-color: $black;
				color: $white;
			}
			//Curstom home container
			.containerr{
				max-width: 100%;
			}
		}
		//Categories
		.row-cat {
			li {
				position: relative;
				img{
					opacity: 0.6;
					transition: all .3s;
				}
				&:hover {
					img{
						opacity: 1;
					}
				}
				.row-title {
					font-size: 40px;
					line-height: 1;
					letter-spacing: inherit;
				}
			}
		}
		//VIdeo
		.box-1{
			position: relative;
			z-index: 1;
			margin-bottom: 0;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: $purple;
				opacity: 0.6;
				top: 0;
				left: 0;
				z-index: 2;
			}
			#bgndVideo {
			}

			.container {
				position: relative;
				z-index: 3;
				.col-xs-12 {
					max-width: 700px;
					.title-row {
						font-size: 80px;
						line-height: 1;
						@include mobile {
							font-size: 20px;
						}
					}
					.desc-row {
						font-size: 65px;
						@include mobile {
							font-size: 16px;
						}
					}
					.btn-row {
						display: block;
						span {
							padding: 1em;
						}
					}
				}
			}
		}

		//Parallax
		.parallax {
			position: relative;
			min-height: 500px;
			background-size: cover;
			background-attachment: fixed;
			.container {
				.content {
					margin: 2em auto;
					text-align: center;
					position: relative;
					z-index: 3;
					h2{
						font-size: 70px;
						color: $white;
					}
					h3 {
						font-size: 55px;
						color: $white;
					}
					.btn-row {
						display: block;
						margin: 1em auto;
						span {
							padding: 1em;
						}
					}
				}
			}
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0.3;
				top: 0;
				left: 0;
				z-index: 2;
			}
			&.purple{
				&::after{
					background-color: $purple;
				}
			}
			&.cyan{
				&::after{
					background-color: $cyan;
				}
			}
		}
	}
}

//Home product
body {
	&.catalog-product-view {
		//Hide gallery
		.more-views {
			display: none;
		}
		
		.product-view {
			.product-img-box {
				.product-box-customs {
					.product-image {
						border: none;
						img{
							display: block;
							max-width: 100%;
							height: auto;
						}
						&.wood{
							img {
								border: 5px solid $wood;
							}
						}
						&.black{
							img {
								border: 5px solid $black;
							}
						}
					}
				}
			}
		}
	}
}