//colors
$white: #ffffff;
$black: #000000;
$grey: #4d4d4d;
$grey-1: #808080;
$dgrey: #39393a;
$lgrey: #f8f8f8;
$lgrey2: #dfe3e9;
$lgrey3: #fafafa;
$lgrey4: #f1f1f1;
$txtGrey: #4a4a4a;
$yellow: #f8ce26;
$lorange: #ff872a;
$orange: #fc7222;
$orangeSkin: #ee905e;
$red: #e91c26;
$purple: #fe3674;
$dpurple: #380212;
$hulk: #67906b;
$lgreen: #b6e6bb;
$dblue: #193056;
$lblue: #49c8f0;
$blue: #3ebcec;
$cyan: #04f6fe;
$wood: #a07730;


//Opacaities
$opBlack: rgba(0,0,0,0.5);

//screens
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1282px;
$sm-desktop-width: 1024px;
$big-desktop-width: 1481px;